body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  color: #444;
}

.card {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  transition: all 0.3s ease;
  flex: 1 0 21%;  /* Grow and shrink, basis */
  margin: 1%;
}

.card:hover {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.count {
  font-size: 18px;
  color: #666;
}

#statistics {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#handValue, #likelihood, #recommendation {
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
